body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins';
}
::-webkit-scrollbar{
    width: 3px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 40px;
}
.sidebar{
    position: fixed;
    top: 2%;
    bottom: 2%;
    left: 1%;
    height: 95%;
    width: 20%;
    background-color: rgb(219, 219, 219);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainbar{
    height: 95%;
    width: 76%;
    background-color: #0047AB;
    position: fixed;
    right: 1.5%;
    top: 2%;
    bottom: 2%;
    border-radius: 30px;
    display: flex;
    overflow-y: scroll;  
    flex-wrap: wrap;
}
/*sidebar styling*/
.notesappintro{
    width: 90%;
    height: 15%;
    background-color: #0047AB;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.introtext{
    font-size: 30px;
    margin-left:20px ;
    font-weight: 500;
}
.utilitydiv{
    width: 90%;
    background-color: #ffffff;
    height:65%;
    margin-top: 0px;
    border-radius: 20px;
    transform: translateY(-10px);
    display: flex;
    justify-content: start;align-items: start;
    overflow-y: scroll;
    flex-wrap: wrap;
}
.createbutton{
    width: 92%;
    height: 80px;
    display: flex;justify-content: space-around;align-items: center;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(101, 202, 101);
    color: white;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px;
}
.notehead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 92%;
    height: 150px;
    background-color: #e3e3e3;
    margin-top: 15px;
    border-radius: 20px;
    margin-left: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/*mainbar Styling*/
.createbuttonmain{
    width: 31%;
    height: 250px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.336);
    border: none;
    display: flex; justify-content: center;align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;
}

.mainpagecreateimage{
    margin-bottom: 20px;
}

.notesdiv{
    width: 31%;
    height: 250px;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.firstsection{
    width: 95%;
    height: 20%;
    /* background-color: #0047AB; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlenotesmain{
    font-size: 1.2rem;
    color: rgb(72, 72, 72);
    font-weight: 700;
    width: 77%;
    display: flex;
    justify-content: start;align-items: start;
}
.tag{
    width: 50px;
    height: 20px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    color: red;
    font-weight: 600;
}
.secondsection{
    width: 95%;
    height: 60%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;align-items: center;
    border-radius: 10px;
}
.textsection{
    width: 95%;
    font-size: 0.7rem;
    text-align: justify;
}
.thirdsection{
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.delete,.edit,.done{
    margin-right: 10px;
    margin-left: 10px;
    width: 28px;
}

/*this is for the side bar*/
.firstsidesection{
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-content:center;
}
.secondsidesection{
    width: 95%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.textsidesection{
    width: 95%;
    font-size: 0.63rem;
    text-align: justify;
    font-weight: 500;
}
.titleside{
    width: 70%;
    color: rgb(35, 35, 35);
    font-weight: 600;
    font-size: 1rem;
}
.tagside{
    scale: 0.8;
}
