body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins';
}
*:focus{
    outline: 0;
}
::-webkit-scrollbar{
    width: 3px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 40px;
}
.sidebar{
    position: fixed;
    top: 2%;
    bottom: 2%;
    left: 1%;
    height: 95%;
    width: 20%;
    background-color: rgb(219, 219, 219);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.createbuttonmain:hover{
    background-color: rgba(255, 255, 255, 0.275);
    transition: 0.4s;
}
.mainbar{
    height: 95%;
    width: 76%;
    background-color: #0047AB;
    position: fixed;
    right: 1.5%;
    top: 2%;
    bottom: 2%;
    border-radius: 30px;
    display: flex;
    overflow-y: scroll;  
    flex-wrap: wrap;
}
/*sidebar styling*/
.notesappintro{
    width: 90%;
    height: 15%;
    background-color: #0047AB;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.introtext{
    font-size: 30px;
    margin-left:20px ;
    font-weight: 500;
}
.utilitydiv{
    width: 90%;
    background-color: #ffffff;
    height:65%;
    margin-top: 0px;
    border-radius: 20px;
    transform: translateY(-10px);
    display: flex;
    justify-content: start;align-items: start;
    overflow-y: scroll;
    flex-wrap: wrap;
}
.createbutton{
    width: 92%;
    height: 80px;
    display: flex;justify-content: space-around;align-items: center;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(101, 202, 101);
    color: white;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px;
}
.createbutton:hover{
    background-color: rgb(115, 239, 115);
    transition: 0.3s;
}
.notehead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 92%;
    height: 150px;
    background-color: #e3e3e3;
    margin-top: 15px;
    border-radius: 20px;
    margin-left: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/*mainbar Styling*/
.createbuttonmain{
    width: 31%;
    height: 250px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.136);
    border: none;
    display: flex; justify-content: center;align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;
}

.mainpagecreateimage{
    margin-bottom: 20px;
}

.notesdiv{
    width: 31%;
    height: 250px;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.firstsection{
    width: 95%;
    height: 20%;
    /* background-color: #0047AB; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlenotesmain{
    font-size: 1.2rem;
    color: rgb(72, 72, 72);
    font-weight: 700;
    width: 77%;
    display: flex;
    justify-content: start;align-items: start;
}
.tag{
    width: 50px;
    height: 20px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    color: rgb(56, 56, 56);
    font-weight: 600;
}
.secondsection{
    width: 95%;
    height: 57%;
    padding-top: 3%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;align-items: flex-start;
    border-radius: 10px;
}
.textsection{
    width: 95%;
    font-size: 0.7rem;
    text-align: justify;
}
.thirdsection{
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.delete,.edit,.done{
    margin-right: 10px;
    margin-left: 10px;
    width: 28px;
}

/*this is for the side bar*/
.firstsidesection{
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-content:center;
}
.secondsidesection{
    width: 95%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.textsidesection{
    width: 95%;
    font-size: 0.63rem;
    text-align: justify;
    font-weight: 500;
}
.titleside{
    width: 70%;
    color: rgb(35, 35, 35);
    font-weight: 600;
    font-size: 1rem;
}
.tagside{
    scale: 0.8;
}

/*Popup*/
.addtaskpopupdiv{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #000000a0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center; 
    display: none;
}
.taskpopup{
    width: 50%;
    height: 75%;
    background-color: white;
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    scale: 0;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
}
.closebutton{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: red;
    transform: translateY(10px);
}
.topbar{
    width: 90%;
    height: 7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.middlesection{
    width:95%;
    height:75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submitsection{
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: center;align-items: center;
}
.popupcreatebutton{
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #0047AB;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}
/*Middle section codes*/
.titlepop,.tagpop,.desctag{
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
}
.titlepop{
    width: 95%;
    height: 20%;
    
}
.tagpop{
    width: 95%;
    height: 15%;
    
    display: flex;
    justify-content: center;align-items: center;
}
.desctag{
    width: 95%;
    height: 60%;
}
/*title input tag popup addtask*/
.titlepopinput{
    width: 99%;
    height: 90%;
    border: none;
    background-color: transparent;
    font-size: 2.2rem;
    font-weight: 700;
    color: rgb(79, 79, 79);
}
.titlepopinput::placeholder{
    font-weight: 700;
}

/*Tag section design*/
.tagpopinsides{
    width: 99%;
    height: 95%;
    display: flex;
    justify-content: flex-start;align-items: center;
}
.importanttagpop{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: red;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}
.importanttagpop:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}
.pritagpop{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 2px solid rgb(0, 135, 193);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: rgb(0, 135, 193);
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}
.pritagpop:hover{
    background-color:rgb(0, 135, 193) ;
    color: white;
    transition: 0.3s;
}
.sectagpop{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 2px solid rgb(4, 133, 54);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: rgb(4, 133, 54);
    font-weight: 600;
    cursor: pointer;
}
.sectagpop:hover{
    background-color: rgb(4, 133, 54);
    color: white;
    transition: 0.3s;
}
.maindescpop{
    width: 95%;
    height: 95%;
    padding: 2.5%;
    border: none;
    border-radius: 20px;
    background-color: rgb(233, 233, 233);
    resize: none;
    font-size: 1.3rem;
}


